body {
    font-family: Arial, sans-serif;
    background-color: red;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    color: gold;
}

header {
    padding: 40px;
}

h1 {
    margin: 0;
    font-size: 4em;
}

p {
    margin: 10px;
    font-size: 2em;
}

.mreza-projekata {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    padding: 40px;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.projekat-element {
    background-color: darkred;
    color: gold;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    border: 2px solid #ccc;
    padding: 5PX;
}

.kontakt form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 60%;
    margin: 40px auto;
    max-width: 600px;
}

.kontakt input,
.kontakt textarea,
.kontakt button {
    padding: 20px;
    font-size: 2em;
    text-align: center;
    color: red;
}

.kontakt button {
    background-color: gold;
    color: red;
    border: none;
    cursor: pointer;
}

.kontakt button:hover {
    background-color: darkgoldenrod;
}

footer {
    padding: 40px;
    background-color: #333;
    color: gold;
    margin-top: 40px;
    width: 100%;
    text-align: center;
    font-size: 2em;
}

.socijalne-mreze {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 20px;
    font-size: 12px;
}

.icon {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .mreza-projekata {
        grid-template-columns: repeat(2, 1fr);
    }

    .kontakt form {
        width: 90%;
    }
}

@media (max-width: 480px) {
    .mreza-projekata {
        grid-template-columns: 1fr;
    }

    .kontakt form {
        width: 100%;
    }
}

