body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
    background-color: #333;
    color: #fff;
}

h1 {
    margin: 0;
}

.mreza-projekata {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
    padding: 20px;
}

.projekat-element {
    background-color: #ddd;
    padding: 20px;
    border: 1px solid #ccc;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

