
 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    padding: 20px;
    color: red;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: red;
}

p {
    margin: 5px;
    font-size: 1em;
    color: black;
}

.mreza-projekata {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
    justify-items: center;
}

.projekat-element {
    background-color: red;
    color: white;
    height: 100px;
    width: 100%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}

.kontakt form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    margin: 20px auto;
    justify-content: center;
}

.kontakt input,
.kontakt textarea,
.kontakt button {
    padding: 10px;
    font-size: 1em;
    text-align: center;
}

.kontakt button {
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
}

.kontakt button:hover {
    background-color: darkred;
}

footer {
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 20px;
}

.socijalne-mreze {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.icon {
    margin-right: 5px;
}

@media (max-width: 768px) {
    .mreza-projekata {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .mreza-projekata {
        grid-template-columns: 1fr;
    }

    .kontakt form {
        width: 90%;
    }
}
